<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="Fellipe Henrique" content="" />
	<title>CV Fellipe Henrique</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	<link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" />

	<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

	<link href="../stylesheets/style.css" rel="stylesheet" />
</head>

<body id="page-top">

	<!-- fab-->
	<div class="fixed-bottom text-right p-2">
		<a class="social-icon icon-fab" href="https://api.whatsapp.com/send?phone=5514998188081"><i
				class="fab fa-whatsapp"></i></a>
	</div>

	<!-- Navigation-->
	<nav data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
		class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">
			<span class="d-block d-lg-none">Fellipe Henrique</span>
			<span class="d-none d-lg-block">
				<img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../assets/images/profile.jpg"
					alt="" /></span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Sobre</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experiências</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Formação</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interesses</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#soft-skills">Soft-Skills</a></li>
			</ul>
		</div>
	</nav>
	<!-- Page Content-->
	<div class="container-fluid p-0">
		<!-- About-->
		<section class="resume-section" id="about">
			<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="resume-section-content">
				<h1 class="mb-0">Fellipe Henrique <span class="text-primary">F. Andrade</span></h1>
				<div class="subheading mb-5"><a
						href="https://www.google.com/maps/search/?api=1&query=ourinhos-sp">Ourinhos -
						SP</a> · (14) 99818-8081· <a href="fellipehf@gmail.com">fellipehf@gmail.com</a></div>
				<p class="lead mb-5">Desenvolvedor Backend junior, iniciei recentemente no ramo da técnologia,
					apaixonado pelo
					mundo opensource, acredito que quando compartilhamos nossos conhecimentos, coisas incríveis podem
					acontecer.
				</p>
				<p class="lead mb-5">Como gerente de projetos da minha antiga empresa, tenho facilidade de conduzir a
					equipe
					para entregar o produto final, seguindo os cronogramas elaborados, sabendo identificar as
					particularidades de
					cada um da equipe, para determinar a função de cada um no projeto.</p>
				<div class="social-icons">
					<a class="social-icon" href="https://www.linkedin.com/in/fellipehfa/"><i
							class="fab fa-linkedin-in"></i></a>
					<a class="social-icon" href="https://github.com/fellipehfa"><i class="fab fa-github"></i></a>
					<a class="social-icon" href="https://www.instagram.com/fellipehfa/"><i
							class="fab fa-instagram"></i></a>
				</div>
			</div>
		</section>
		<hr class="m-0" />
		<!-- Experience-->
		<section class="resume-section" id="experience">
			<div class="resume-section-content">
				<h2 data-aos="fade-right" class="mb-5">Experiência</h2>
				<div data-aos="fade-left" class="d-flex flex-column flex-md-row justify-content-between mb-5">
					<div class="flex-grow-1">
						<h3 class="mb-0">Desenvolvedor Backend Junior</h3>
						<div class="subheading mb-3">Espresso Labs</div>
						<p>Criação de APIs Restfull utilizando como principais ferramentas o NestJS, TypeORM, Docker.
							Desenvolvendo
							a modelagem do banco de dados, relações entre tabelas, implementações do CRUD, determinando
							as rotas dos
							controllers, utilizando também, ferramentas de validação, autorização de requisições, entre
							outros. </p>
					</div>
					<div data-aos="fade-left" class="flex-shrink-0"><span class="text-primary">05 de Maio de 2021 -
							Present</span>
					</div>
				</div>
				<div data-aos="fade-left" class="d-flex flex-column flex-md-row justify-content-between mb-5">
					<div data-aos="fade-left" class="flex-grow-1">
						<h3 class="mb-0">Gerente de Projetos</h3>
						<div class="subheading mb-3">Prosigma Engenharia</div>
						<p>
							Como gerente de projetos da minha empresa, tenho facilidade de conduzir a equipe para
							entregar o produto
							final, seguindo os cronogramas elaborados, sabendo identificar as particularidades de cada
							um da equipe,
							para determinar a função de cada um no projeto.
						</p>
						<p>Administração de obras e projetos, contratação de funcionários, elaboração de projetos,
							orçamentos e
							cronogramas, dentre outras funções administrativas, elaboração de projetos voltados para
							construção civil.
						</p>
					</div>
					<div class="flex-shrink-0"><span class="text-primary">Setembro 2017 - Abril 2021</span></div>
				</div>
			</div>
		</section>
		<hr class="m-0" />
		<!-- Education-->
		<section class="resume-section" id="education">
			<div class="resume-section-content">
				<h2 data-aos="fade-right" class="mb-5">Formação</h2>
				<div data-aos="fade-left" class="d-flex flex-column flex-md-row justify-content-between mb-5">
					<div class="flex-grow-1">
						<h3 class="mb-0">Universidade de Marilia</h3>
						<div class="subheading mb-3">Engenharia Civil</div>
						<div>Concluído</div>
					</div>
					<div class="flex-shrink-0"><span class="text-primary">Janeiro 2012 - Novembro 2016</span></div>
				</div>
				<div data-aos="fade-left" class="d-flex flex-column flex-md-row justify-content-between">
					<div class="flex-grow-1">
						<h3 class="mb-0">FMU</h3>
						<div class="subheading mb-3">Sistemas de Informação</div>
						<p>Cursando</p>
					</div>
					<div class="flex-shrink-0"><span class="text-primary">Abril 2021 - Abril 2024</span></div>
				</div>
			</div>
		</section>
		<hr class="m-0" />
		<!-- Skills-->
		<section class="resume-section" id="skills">
			<div class="resume-section-content">
				<h2 data-aos="zoom-in-down" class="mb-5">Skills</h2>
				<div data-aos="zoom-in-down" class="subheading mb-3">Linguagens de Programação e Ferramentas</div>
				<ul data-aos="zoom-in-down" class="list-inline dev-icons">
					<li class="list-inline-item"><i class="fab fa-js-square"></i></li>
					<li class="list-inline-item"><i class="fab fa-node-js"></i></li>
					<li class="list-inline-item"><i class="fab fa-node"></i></li>
					<li class="list-inline-item"><i class="fas fa-coins"></i></li>
					<li class="list-inline-item"><i class="fab fa-docker"></i></li>
					<li class="list-inline-item"><i class="fab fa-git-alt"></i></li>
					<li class="list-inline-item"><i class="fab fa-github"></i></li>
					<li class="list-inline-item"><i class="fab fa-bitbucket"></i></li>
					<li class="list-inline-item"><i class="fab fa-atlassian"></i></li>
					<li class="list-inline-item"><i class="fab fa-jira"></i></li>
					<li class="list-inline-item"><i class="fab fa-yarn"></i></li>
					<li class="list-inline-item"><i class="fab fa-npm"></i></li>
					<li class="list-inline-item"><i class="fab fa-ubuntu"></i></li>
					<li class="list-inline-item"><i class="fas fa-terminal"></i></li>

				</ul>
				<div data-aos="zoom-in-up" class="resume-section-content mb-3">
					<h2 class="mb-5">Cursos</h2>
					<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
						<div class="flex-grow-1">
							<h3 class="mb-0">API Restful - Node.js, Typescript, TypeORM </h3>
							<div class="subheading mb-3"></div>
							<p>Construção de uma aplicação backend para gestão de vendas com funcionalidades de cadastro
								de produtos,
								clientes, pedidos e uma completa gestão de usuários, com autenticação via Token JWT,
								recuperação de
								senha, atualização de perfil. Implementação de Entidades através do TypeORM para cada
								recurso a ser
								consumido na API.</p>

							<p>Boas práticas e qualidade no código, usando Design Patterns, Domain Driven Design (DDD) e
								Princípios
								SOLID, além de introduzir Testes Automatizados com o framework Jest. Principais
								técnologias: Node.js,
								Express, Typescript, TypeORM, Postgres através de container Docker, Redis através de
								container Docker,
								Amazon S3, Amazon SES, entre outros.
							</p>
						</div>
					</div>
					<div class="d-flex flex-column flex-md-row justify-content-between">
						<div class="flex-grow-1">
							<h3 class="mb-0">Curso Web Moderno Completo com Javascript 2021 + 12 Projetos - Cod3r -
								Udemy</h3>
							<div class="subheading mb-3"></div>
							<p>Recursos avançados da linguagem Javascript com os últimos recursos da ESNext.
								Desenvolvendo aplicações
								reais como FullStack. Aplicando últimos recursos de HTML e CSS, Gulp, Webpack, jQuery,
								Bootstrap, React,
								Angular, VueJS, ExpressJS e Electron. Utilizando banco de dados relacionais e não
								relacionais NoSQL,
								MySQL, Postgres e MongoDB. Com os recursos do Node JS acessando os principais bacos de
								dados, aprendendo
								as funcionalidades voltadas para o Back-End.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<hr class="m-0" />
		<!-- Interests-->
		<section class="resume-section" id="interests">
			<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="resume-section-content">
				<h2 class="mb-5">Interesses e Curiosidades</h2>
				<p>Quero contribuir diretamente para o crescimento da empresa, desenvolver cada vez mais minhas
					habilidades como
					dev e um dia ser referencia quando o assunto é desenvolvimento Web, para assim poder ajudar as
					pessoas que
					querem seguir os mesmos passos.</p>
				<p>Como tudo isso começões? Bom, meu irmão é Analista de Sistemas Sênior, Back-End, especialista em
					linguagem
					JAVA e sua esposa (minha cunhadinha de cabelo rosa purple_heart) é Coordenadora de Projetos na
					PagSeguro (olha
					a responsa!!). Estou migrando da área da construção civil para o mundo da tecnologia, tudo começou
					em outubro
					de 2020 quando tive uma ideia de aplicação para integrar na minha empresa, comecei a estudar como
					poderia
					desenvolver eu mesmo, então me vi apaixonado por esse universo opensource, que faz as coisas
					acontecerem,
					pessoas que são apaixonadas pelo que fazer e tudo isso só tem feito eu querer fazer parte desse
					mundo.</p>
			</div>
		</section>
		<hr class="m-0" />
		<!-- Awards-->
		<section class="resume-section" id="soft-skills">
			<div data-aos="zoom-in-up" class="resume-section-content">
				<h2 class="mb-5">Soft-Skills</h2>
				<ul class="fa-ul mb-0">
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span>Carisma
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span>Colaboração
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span></sup>Comunicação
					</li>
					<li>
						<span class="fa-li"><i
								class="fas fa-hand-point-right text-warning"></i></span></sup>Determinação
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span></sup>Energia
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span></sup>Equilíbrio
						emocional
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span></sup>Ética
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span>Flexibilidade
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span>Gestão de pessoas
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span></sup>Gestão de
						projetos
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span></sup>Inglês
						intermediário
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span></sup>Liderança
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span></sup>Orientação
						para
						resultados
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-hand-point-right text-warning"></i></span></sup>Trabalho
						sob pressão
					</li>
				</ul>
			</div>
		</section>
	</div>

	<!-- Bootstrap core JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- Third party plugin JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<!-- Core theme JS-->
	<script src="../assets/javascripts/scripts.js"></script>

	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>


</body>

</html>